div.title {
  h3 {
    width: fit-content;
    font-weight: 500;
    font-size: 46px !important;

    &::before {
      content: "";
      height: 5px;
      width: 42%;
      background-color: var(--dark);
      border-radius: 22px;

      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
